@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("./../Fonts/Inter_24pt-Regular.woff") format("woff"),
    url("./../Fonts/Inter_24pt-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("./../Fonts/Montserrat-Medium.woff") format("woff"),
    url("./../Fonts/Montserrat-Medium.woff2") format('woff2');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url("./../Fonts/Montserrat-Medium.woff") format("woff"),
    url("./../Fonts/Montserrat-Medium.woff2") format('woff2');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url("./../Fonts/Montserrat-SemiBold.woff") format("woff"),
    url("./../Fonts/Montserrat-SemiBold.woff2") format('woff2');
}
