.header {
    max-width: 1440px;
    min-height: 125px;
    margin: 0 auto;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header::after {
    position: absolute;
    top: -240px;
    left: 630px;
    width: 1100px;
    height: 1100px;
    content: " ";
    background-color: var(--peach-circle-background);
    z-index: -1;
    border-radius: 50%;
}

.header_wrapper {
    min-width: 1138px;
    max-height: 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative;

}

.header_logo {
    width: 100px;
    height: 100px;
    border-radius:50px;
    position: absolute;
    left: -13px;
    bottom: -17px;
}

.header_nav_ul {
    display: flex;
    gap: 32px;
}

.link_style{
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.general-link-style{
    text-decoration: underline;
    color: var(--brown-link);
}


.header_abour-us_icons_container {
    width: 110px;
    height: 44px;
    display: flex;
    gap: 22px;
}

.header_login-cart_styles {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--peach-color);
}

.header_cart {
    padding: 7px;
}

.header_login {
    padding: 10px 7px 10px 13px;
}

.header_login-cart_styles_clicked {
    transform: scale(0.85);
    border: 2px solid var(--choco-color);
    opacity: 0.7;
}




