@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    
    src: local(''),
         url("../fonts/Montserrat/Montserrat-VariableFont_wght.woff"),
         url("../fonts/Montserrat/Montserrat-VariableFont_wght.woff2");
}
